[Unit]
Description=Check Finite commercial register health

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=finite-commercial-register-health.service

[Install]
WantedBy=timers.target
